@{
    var orders = ViewBag.Orders as IPagedList<Order>;
    var totalOrdersToday = ViewBag.TotalOrdersToday as int?;
    var totalRevenueToday = ViewBag.TotalRevenueToday as int?;
    var totalNewCustomersToday = ViewBag.TotalNewCustomersToday as int?;
    var totalInInventoryToday = ViewBag.TotalInInventoryToday as int?;

    var percentageChangeOrders = ViewBag.PercentageChangeOrders as double?;
    var percentageChangeRevenue = ViewBag.PercentageChangeRevenue as double?;
    var percentageChangeNewCustomers = ViewBag.PercentageChangeNewCustomers as double?;
	var percentageChangeInInventory = ViewBag.PercentageChangeInInventory as double?;

    var currentPage = ViewBag.CurrentPage as int?;
	var totalPages = ViewBag.TotalPages as int?;
}

<div class="container-fluid">
    <!-- Start here.... -->
    <div class="row">
        <div class="col-xxl-12">
            <div class="row">

                <div class="col-md-3">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="avatar-md bg-soft-primary rounded">
                                        <i class="bx bxs-cart avatar-title text-primary fs-24"></i>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-9 text-end">
                                    <p class="text-muted text-truncate mb-0">Đơn hàng hôm nay</p>
                                    <h3 class="text-dark mb-0 mt-1">@totalOrdersToday</h3>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card body -->
                        <div class="card-footer bg-light bg-opacity-50 py-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    @{
                                        if (percentageChangeOrders > 0)
                                        {
                                            <span class="text-success"> <i class="bx bxs-up-arrow fs-12"></i> @percentageChangeOrders%</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger"> <i class="bx bxs-down-arrow fs-12"></i> @percentageChangeOrders%</span>
                                        }
                                    }

                                    <span class="text-muted fs-12 ms-1">Ngày trước</span>
                                </div>
                                <a href="#" class="text-reset fw-semibold fs-12">Xem thêm</a>
                            </div>
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
                <div class="col-md-3">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="avatar-md bg-soft-primary rounded">
                                        <i class="bx bx-dollar-circle avatar-title text-primary fs-24"></i>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-9 text-end">
                                    <p class="text-muted text-truncate mb-0">Doanh thu hôm nay</p>
                                    <h3 class="text-dark mb-0 mt-1">@totalRevenueToday</h3>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card body -->
                        <div class="card-footer bg-light bg-opacity-50 py-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    @if (percentageChangeRevenue > 0)
                                    {
                                        <span class="text-success"> <i class="bx bxs-up-arrow fs-12"></i> @percentageChangeRevenue%</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger"> <i class="bx bxs-down-arrow fs-12"></i> @percentageChangeRevenue%</span>
                                    }
                                    <span class="text-muted fs-12 ms-1">Ngày trước</span>
                                </div>
                                <a href="#" class="text-reset fw-semibold fs-12">Xem thêm</a>
                            </div>
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
                <div class="col-md-3">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="avatar-md bg-soft-primary rounded">
                                        <i class="bx bxs-user-circle avatar-title fs-24 text-primary"></i>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-9 text-end">
                                    <p class="text-muted text-truncate mb-0">Khách mới hôm nay</p>
                                    <h3 class="text-dark mb-0 mt-1">@totalNewCustomersToday</h3>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card body -->
                        <div class="card-footer bg-light bg-opacity-50 py-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>

                                    @{
                                        if (percentageChangeNewCustomers > 0)
                                        {
                                            <span class="text-success">
                                                <i class="bx bxs-up-arrow fs-12"></i> @percentageChangeNewCustomers%
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">
                                                <i class="bx bxs-down-arrow fs-12"></i> @percentageChangeNewCustomers%
                                            </span>
                                        }
                                    }

                                    <span class="text-muted fs-12 ms-1">Ngày trước</span>
                                </div>
                                <a href="#" class="text-reset fw-semibold fs-12">Xem thêm</a>
                            </div>
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
                <div class="col-md-3">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="avatar-md bg-soft-primary rounded">
                                        <i class="bx bxs-error-circle avatar-title text-primary fs-24"></i>
                                    </div>
                                </div> <!-- end col -->
                                <div class="col-9 text-end">
                                    <p class="text-muted text-truncate mb-0">Lần nhập kho hôm nay</p>
                                    <h3 class="text-dark mb-0 mt-1">@totalInInventoryToday</h3>
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card body -->
                        <div class="card-footer bg-light bg-opacity-50 py-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    @{
                                        if (percentageChangeInInventory > 0)
                                        {
                                            <span class="text-success">
                                                <i class="bx bxs-up-arrow fs-12"></i> @percentageChangeInInventory%
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">
                                                <i class="bx bxs-down-arrow fs-12"></i> @percentageChangeInInventory%
                                            </span>
                                        }
                                    }
                                    <span class="text-muted fs-12 ms-1">Ngày trước</span>
                                </div>
                                <a href="#" class="text-reset fw-semibold fs-12">Xem thêm</a>
                            </div>
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end col -->

        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Biểu đồ doanh thu theo thời gian</h4>
                        <div id="revenueChartBtn">
                            <button type="button" class="btn btn-sm btn-outline-light active" data-id="30_days">30D</button>
                            <button type="button" class="btn btn-sm btn-outline-light" data-id="6_months">6M</button>
                            <button type="button" class="btn btn-sm btn-outline-light" data-id="1_year">1Y</button>
                        </div>
                    </div> <!-- end card-title-->

                    <div dir="ltr">
                        <div id="revenueChart" class="apex-charts"></div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Biểu đồ thống kê đơn hàng trong tuần</h4>
                    </div> <!-- end card-title-->

                    <div dir="ltr">
                        <div id="ordersChart" class="apex-charts"></div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end left chart card -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Top 10 sản phẩm bán chạy</h4>
                    <div id="topSellingProductChart" class="apex-charts"></div>
                </div>

            </div>
        </div>
    </div> <!-- end row -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title">
                            Lịch sử đặt đơn & thanh toán
                        </h4>
                    </div>
                </div>
                <!-- end card body -->
                <div class="table-responsive table-centered">
                    <table class="mb-0 table">
                        <thead class="bg-light bg-opacity-50">
                            <tr>
                                <th class="ps-3">
                                    Mã đơn
                                </th>
                                <th>
                                    Ngày đặt
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Địa chỉ giao hàng
                                </th>
                                <th>
                                    Trạng thái đơn
                                </th>
                            </tr>
                        </thead>
                        <!-- end thead-->
                        <tbody>
                            @foreach (var order in orders!)
                            {
                                <tr>
                                    <td class="ps-3">
                                        <a href="@Url.Action("Detail", "Order", new { area = "Admin", orderId = order.OrderId })">@order.OrderId</a>
                                    </td>
                                    <td>@order.OrderDate</td>
                                    <td>@order.BuyerNavigation.Email</td>
                                    <td>@order.BuyerNavigation.Phone</td>
                                    <td>@order.BuyerNavigation.Address</td>
                                    <td>
                                        @order.OrderStatusNavigation.StatusName
                                    </td>
                                </tr>

                            }

                        </tbody>
                        <!-- end tbody -->
                    </table>
                    <!-- end table -->
                </div>
                <!-- table responsive -->

                <div class="card-footer border-top">
                    <div class="row g-3 justify-content-end">

                        <div class="col-sm-auto">
                            <ul class="pagination m-0">
                                <!-- Previous Page Link -->
                                @if (ViewBag.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Home", new { area = "Admin", page = ViewBag.CurrentPage - 1 })">
                                            Trước đây
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <span class="page-link">Trước đây</span>
                                    </li>
                                }

                                <!-- Page Numbers -->
                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    if (i == ViewBag.CurrentPage)
                                    {
                                        <li class="page-item active">
                                            <span class="page-link">@i</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "Home", new { area = "Admin", page = i })">@i</a>
                                        </li>
                                    }
                                }

                                <!-- Next Page Link -->
                                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Home", new { area = "Admin", page = ViewBag.CurrentPage + 1 })">
                                            Tiếp theo
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item disabled">
                                        <span class="page-link">Next</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div> <!-- end row -->

</div>

<script>
    $(document).ready(function () {
        $('#revenueChartBtn button').click(function () {
            $('button').removeClass('active');
            $(this).addClass('active');
        });

        var revenueChart, topSellingProductChart;
        loadRevenueChart("30_days");

        $('.btn-outline-light').click(function() {
            var type = $(this).data('id');
            loadRevenueChart(type);
        });

        function loadRevenueChart(timeRange) {
            $.ajax({
                url: '@Url.Action("GetRevenueByTimeRange", "Chart", new { area = "Admin" })',
                method: 'GET',
                dataType: 'json',
                data: { timeRange: timeRange },
                success: function(response) {
                    const dates = Object.keys(response.data);
                    const revenueValues = Object.values(response.data);

                    if (revenueChart) {
                        revenueChart.destroy();
                    }

                    var options = {
                        series: [{
                            name: 'Doanh thu',
                            data: revenueValues
                        }],
                        chart: {
                            height: 350,
                            type: 'bar'
                        },
                        plotOptions: {
                            bar: {
                                borderRadius: 10,
                                dataLabels: { position: 'top' }
                            }
                        },
                        colors: ["#ff6c2f", "#22c55e"],
                        dataLabels: {
                            enabled: false,
                            formatter: val => val + " VNĐ",
                            offsetY: -20,
                            style: { fontSize: '12px', colors: ["#304758"] }
                        },
                        xaxis: {
                            categories: dates,
                            position: 'top',
                            axisBorder: { show: false },
                            axisTicks: { show: false },
                        },
                        yaxis: {
                            axisBorder: { show: false },
                            axisTicks: { show: false },
                            labels: { show: true, formatter: val => val + " VNĐ" }
                        },
                        title: {
                            text: 'Tổng doanh thu ' + timeRange.replace('_', ' ').toUpperCase(),
                            floating: true,
                            offsetY: 330,
                            align: 'center',
                            style: { color: '#444' }
                        }
                    };

                    revenueChart = new ApexCharts(document.querySelector("#revenueChart"), options);
                    revenueChart.render();
                },
                error: function(error) {
                    console.error('Lỗi khi lấy dữ liệu doanh thu:', error);
                }
            });
        }

        loadTopSellingProductChart();

        function loadTopSellingProductChart() {
            $.ajax({
                url: '@Url.Action("GetTopSellingProducts", "Chart", new { area = "Admin" })',
                method: 'GET',
                dataType: 'json',
                data: { take: 10 },
                success: function(response) {
                    updateSanPhamChart(response.data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

            function updateSanPhamChart(data) {
                const categories = Object.keys(data);
                const seriesData = Object.values(data);

                var options = {
                    chart: { height: 380, type: "bar", toolbar: { show: false } },
                    plotOptions: { bar: { borderRadius: 10, horizontal: true } },
                    dataLabels: { enabled: false },
                    series: [{ data: seriesData }],
                    colors: ["#ef4444", "#60a5fa"],
                    xaxis: {
                        categories: categories,
                        labels: {
                            formatter: function (value) {
                                return value.length > 15 ? value.slice(0, 15) + '...' : value;
                            }
                        }
                    },
                    states: { hover: { filter: "none" } },
                    grid: { borderColor: "#f1f3fa" },
                };

                if (topSellingProductChart) {
                    topSellingProductChart.destroy();
                }
                topSellingProductChart = new ApexCharts(document.querySelector("#topSellingProductChart"), options);
                topSellingProductChart.render();
            }


        $.ajax({
            url: '@Url.Action("GetOrdersInThisWeek", "Chart", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var dates = Object.keys(response.data);
                var orderCounts = Object.values(response.data);

                var options = {
                    chart: {
                        type: 'line',
                        height: 350
                    },
                    colors: ["#22c55e", "#8b5cf6"],
                    series: [{
                        name: 'Số đơn hàng',
                        data: orderCounts
                    }],
                    xaxis: {
                        categories: dates
                    }
                };

                var chart = new ApexCharts(document.querySelector("#ordersChart"), options);
                chart.render();
            },
            error: function (xhr, status, error) {
                console.error("Có lỗi khi lấy dữ liệu: " + error);
            }
        });
    });
</script>


