@model EmployeeForgotPasswordViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
}

<div>
    @using (Html.BeginForm("ForgetPassword", "Account", new { area = "Admin" }, FormMethod.Post, true, new { id = "forgetPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(x => x.UserName, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", required = "required" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", required = "required" })
        </div>
        <div class="d-grid mb-1 text-center">
            <button class="btn btn-primary" type="submit">
                Khôi phục mật khẩu
                <div class="spinner-border text-secondary ms-1 mt-1"
                     style="height: 12px; width: 12px; display: none;"
                     id="loadingSpinner"></div>
            </button>
        </div>
    }
</div>

<p class="text-danger mt-5 text-center">
    Quay lại
    <a href="@Url.Action("Login", "Account", new { area = "Admin" })"
       class="text-dark fw-bold ms-1">Đăng nhập</a>
</p>

<script>
    $(document).ready(function () {
        $('#forgetPasswordForm').on('submit', function (e) {
            e.preventDefault();
            $("#loadingSpinner").show();

            const form = $(this);
            const formData = new FormData(this);

            $.ajax({
                url: form.attr("action"),
                type: form.attr("method"),
                dataType: 'json',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#loadingSpinner").hide();
                    alertMessage(response.message, response.type);
                    if (response.success) {
                        setTimeout(() => {
                            window.location.href = '@Url.Action("Login", "Account", new { area = "Admin" })';
                        }, 2000);
                    }
                },
                error: function () {
                    $("#loadingSpinner").hide();
                    alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');
                }
            });
        });
    });
</script>
