
@{
    Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
    @model FastFood.Models.FastFood_NhanVienDangNhap_QuenMatKhau
}

<div>
    @using (Html.BeginForm("ForgetPassword", "Account", null, FormMethod.Post, true, new { area = "Admin", id = "forgetPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(x => x.TenDangNhap, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.TenDangNhap, new { @class = "form-control", @required = "" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Email, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @required = "" })
        </div>
        <div class="mb-1 text-center d-grid">
            <button class="btn btn-primary" type="submit">
                Khôi phục mật khẩu
                <div class="spinner-border text-secondary ms-1 mt-1" style="height: 12px; width: 12px; display: none;" id="loadingSpinner"></div>
            </button>
        </div>

    }
</div>

<p class="mt-5 text-danger text-center">Quay lại <a href="@Url.Action("Login", "Account", new {area = "Admin"})" class="text-dark fw-bold ms-1">Đăng nhập</a></p>

<script>
    $(document).ready(function () {
        $('#forgetPasswordForm').on('submit', function (e) {
            $("#loadingSpinner").show();

            e.preventDefault();
            const formData = new FormData(this);

            $.ajax({
                url: '@Url.Action("ForgetPassword", "Account", new { area = "Admin" })',
                type: 'POST',
                dataType: 'json',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#loadingSpinner").hide();
                    alertMessage(response.message, response.type);
                    if (response.success) {
                        setTimeout(() => {
                            window.location.href = '@Url.Action("Login", "Account", new {area = "Admin"})';
                        }, 2000);
                    }
                },
                error: function (xhr, status, error) {
                    $("#loadingSpinner").hide();
                    alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');

                }
            });
        });
    })
</script>