@{
    var storeInfo = ViewBag.StoreInfo as StoreInfo ?? new();
    var workSchedule = ViewBag.WorkSchedule as List<WorkSchedule> ?? new();
}
<footer class="footer-default p-r z-1">
    <div class="footer-shape f-shape_one scene"><span data-depth=".3"><img src="/public_page/assets/images/shape/shape-2.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_two scene"><span data-depth=".4"><img src="/public_page/assets/images/shape/shape-3.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_three scene"><span data-depth=".5"><img src="/public_page/assets/images/shape/shape-4.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_four scene"><span data-depth=".6"><img src="/public_page/assets/images/shape/shape-5.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_five scene"><span data-depth=".7"><img src="/public_page/assets/images/shape/shape-6.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_six scene"><span data-depth=".8"><img src="/public_page/assets/images/shape/shape-7.png" alt="shape"></span></div>
    <div class="footer-shape f-shape_seven scene"><span data-depth=".9"><img src="/public_page/assets/images/shape/shape-8.png" alt="shape"></span></div>
    <div class="container">
        <!--=== Footer Widget Area ===-->
        <div class="footer-widget-area pt-120 pb-75">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-about-widget wow fadeInUp mb-40">
                        <div class="widget-content">
                            <div class="footer-logo mb-25">
                                <a href="@Url.Action("Index", "Home")"><img height="70" src="@storeInfo.Logo" alt="Brand Logo"></a>
                            </div>
                            <p>
                                @storeInfo.Slogan
                            </p>
                            <ul class="social-link">
                                <li><a href="@storeInfo.FacebookUrl"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="@storeInfo.XUrl"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="@storeInfo.InstagramUrl"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="@storeInfo.YoutubeUrl"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-contact-widget wow fadeInUp mb-40">
                        <div class="widget-content">
                            <h4 class="widget-title">Liên hệ chúng tôi</h4>
                            <ul class="address-list">
                                <li>@storeInfo.Address</li>
                                <li><a href="tel:@storeInfo.Hotline">Tel:@storeInfo.Hotline</a></li>
                                <li><a href="@("mailto:" + storeInfo.Email)">@storeInfo.Email</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-nav-widget wow fadeInUp mb-40">
                        <div class="widget-content">
                            <h4 class="widget-title">Truy cập nhanh</h4>
                            <ul class="widget-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Menu")">Thực đơn</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "News")">Tin tức</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Contact")">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "About")">Về chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-opening-widget wow fadeInUp mb-40">
                        <div class="widget-content">
                            <h4 class="widget-title">Giờ mở cửa</h4>
                            <ul class="opening-schedule">
                                @foreach (var schedule in workSchedule)
                                {
                                    <li>@schedule.WorkDate: <span>@schedule.WorkTime </span></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== Copyright Area ===-->
    <div class="copyright-area text-center">
        <div class="container">
            <div class="copyright-text">
                <p>&copy; @DateTime.Now.Year BaoIT. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer><!--====== End Footer ======-->
