@model EmployeeRegisterLoginAccountViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title m-0">Tạo tài khoản</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("RegisterLoginAccount", "Employee", FormMethod.Post, new { area = "Admin", id = "createEmployeeForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <select id="EmployeeId" name="EmployeeId" class="form-control mt-1" required>
                            <option value="">Chọn nhân viên</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.UserName, new { @class = "form-label" }) <span class="text-red"> *</span>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @autocomplete = "off", @required = "" })
                    </div>
                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Password, new { @class = "form-label" }) <span class="text-red"> *</span>
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @autocomplete = "off", @required = "" })
                    </div>
                    <div class="form-group mt-2">
                        @Html.LabelFor(x => x.Role, new { @class = "form-label" }) <span class="text-red"> *</span>
                        <select name="Role" class="form-control">
                            <option value="true">Quản trị viên</option>
                            <option value="false" selected>Người dùng</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label">Chọn Quyền:</label> <span class="text-red"> *</span>
                        <div class="row listPermission mt-1"></div>
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-3">Tạo tài khoản</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function loadEmployeeData() {
        $.ajax({
            url: '@Url.Action("GetEmployeesByAccountStatus", "Employee", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                if (Array.isArray(response.data)) {
                    var $employeeSelect = $('#createEmployeeForm #CustomerId');
                    $employeeSelect.empty();
                    $employeeSelect.append('<option value="">Chọn nhân viên</option>');

                    response.data.forEach(function (employee) {
                        if (employee.EmployeeId && employee.FullName) {
                            $employeeSelect.append(
                                $('<option>', {
                                    value: employee.EmployeeId,
                                    text: employee.FullName
                                })
                            );
                        }
                    });
                } else {
                    console.error("Data is not in the expected array format:", data);
                }
            },
            error: function(xhr, status, error) {
                console.error("Có lỗi xảy ra khi tải danh sách nhân viên: " + error);
            }
        });
    }

    $(document).ready(function () {
        loadEmployeeData();
        

        $('#createEmployeeForm').on('submit', function (e) {
            e.preventDefault();
            let selectedPermissions = [];
            let formData = $(this).serialize();
            const url = $(this).attr("action");

            $(this).find(".choosePermission:checked").each(function () {
                selectedPermissions.push($(this).val());
            });

            formData += '&selectedPermissions=' + JSON.stringify(selectedPermissions);

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: formData,
                success: function (response) {
                    alertMessage(response.message, response.type);
                    loadTableData();
                    loadEmployeeData();
                    $(this).find("input").val("");
                    $(this).find('input:first').focus();
                },
                error: function (xhr, status, error) {
                    alert('Đã xảy ra lỗi khi tạo tài khoản.');
                }
            });
        });

        
    });
</script>
