@using FastFood.Models

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editCategoryModalLabel">Sửa danh mục <span></span></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			@using (Html.BeginForm("Edit", "Categories", null, FormMethod.Post, true, new { id = "editCategoryForm", area = "Admin" }))
			{
			@model FastFood_DanhMuc_SuaDanhMuc
				@Html.Hidden("MaDanhMuc", "")
				@Html.AntiForgeryToken()
				<div class="modal-body">
					<div class="form-group mb-2">
						@Html.LabelFor(x => x.TenDanhMuc, new { @class = "form-label" }) <span class="text-red"> *</span>
						@Html.TextBoxFor(x => x.TenDanhMuc, new { @class = "form-control category-name", @required = "" })
					</div>
					<div class="form-group mb-2">
						@Html.LabelFor(x => x.MoTa, new { @class = "form-label" })
						@Html.TextBoxFor(x => x.MoTa, new { @class = "form-control category-description" })
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
					<button type="submit" class="btn btn-primary">Xác nhận</button>
				</div>
			}

		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#editCategoryForm').on('submit', function (e) {
			e.preventDefault();
			const formData = new FormData(this);

			$.ajax({
				url: '@Url.Action("Edit", "Categories", new { area = "Admin" })',
				type: 'POST',
				dataType: 'json',
				data: formData,
				processData: false,
				contentType: false,
				success: function (response) {
					alertMessage(response.message, response.type);
					if (response.success) {
						$('#editCategoryModal').modal('hide');
						setTimeout(() => {
							location.reload();
						}, 1500);
					}
				},
				error: function (xhr, status, error) {
					alert('Đã xảy ra lỗi khi thực hiện yêu cầu.');
				}
			});
		});
	});
</script>
