@{
	var articles = ViewBag.Articles as IPagedList<Article>;
	var currentPage = ViewBag.CurrentPage as int?;
	var totalPages = ViewBag.TotalPages as int?;

}

@Html.AntiForgeryToken()
<!-- Start Container Fluid -->
<div class="container-xxl">
	<div class="row">
		<div class="col-xl-12">
			<div class="card">
				<div class="d-flex card-header justify-content-between align-items-center">
					<div>
						<h4 class="card-title">@ViewBag.Title</h4>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table-hover table-centered mb-0 table align-middle">
							<thead class="bg-light-subtle">
								<tr>
									<th>ID</th>
									<th>Người tạo</th>
									<th>Tiêu đề</th>
									<th>Ngày tạo</th>
									<th>Ngày cập nhật</th>
									<th>Ngày duyệt</th>
									<th>Thao tác</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var article in articles!)
								{
									<tr>
										<td><a href="@Url.Action("Detail", "Article", new {area = "Admin", articleId = article.ArticleId })">@article.ArticleId</a></td>
										<td>@(article.Author.LastName + " " + article.Author.FirstName)</td>
										<td>@article.Title</td>
										<td>@article.CreatedAt</td>
										<td>@article.UpdatedAt</td>
										<td>@article.ApproveAt</td>
										<td>
											<div class="d-flex gap-2">
												<a href="#" class="btn btn-light btn-sm btn-view" data-bs-toggle="modal" data-bs-target="#viewArticleModal" data-article-id="@article.ArticleId" data-article-title="@article.Title" data-article-content="@article.Content" data-article-description="@article.Summary">
													<iconify-icon icon="solar:eye-broken" class="fs-18 align-middle"></iconify-icon>

												</a>
												<a href="#" class="btn btn-soft-primary btn-sm btn-edit" data-bs-toggle="modal" data-bs-target="#editArticleModal" data-article-id="@article.ArticleId" data-article-title="@article.Title" data-article-content="@article.Content" data-article-description="@article.Summary">
													<iconify-icon icon="solar:pen-2-broken" class="fs-18 align-middle"></iconify-icon>

												</a>
												<a href="#" class="btn btn-soft-danger btn-sm btn-delete" data-article-id="@article.ArticleId">
													<iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="fs-18 align-middle"></iconify-icon>
												</a>

											</div>
										</td>
									</tr>
								}

							</tbody>
						</table>
					</div>
					<!-- end table-responsive -->
				</div>
				<div class="card-footer border-top">
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end mb-0">
							<!-- Previous Page Link -->
							@if (ViewBag.CurrentPage > 1)
							{
								<li class="page-item">
									<a class="page-link" href="@Url.Action("List", "Article", new { area = "Admin", page = ViewBag.CurrentPage - 1 })">
										Trước đây
									</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<span class="page-link">Trước đây</span>
								</li>
							}

							<!-- Page Numbers -->
							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								if (i == ViewBag.CurrentPage)
								{
									<li class="page-item active">
										<span class="page-link">@i</span>
									</li>
								}
								else
								{
									<li class="page-item">
										<a class="page-link" href="@Url.Action("List", "Article", new { area = "Admin", page = i })">@i</a>
									</li>
								}
							}

							<!-- Next Page Link -->
							@if (ViewBag.CurrentPage < ViewBag.TotalPages)
							{
								<li class="page-item">
									<a class="page-link" href="@Url.Action("List", "Article", new { area = "Admin", page = ViewBag.CurrentPage + 1 })">
										Tiếp theo
									</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<span class="page-link">Tiếp theo</span>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<!--Edit Article Modal-->
	@await Component.InvokeAsync("EmployeeArticle", new {viewName = "Edit"})

	<!--View Article Modal-->
	@await Component.InvokeAsync("EmployeeArticle", new { viewName = "View" })

</div>
<!-- End Container Fluid -->

<script>

	$(document).ready(function () {

		let token = $('input[name="__RequestVerificationToken"]').val();

		tinymce.init({
			selector: '.article-content',
			plugins: 'lists link image code',
			toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright',
			height: 500
		});

		$(".btn-edit").on("click", function () {
			const articleId = $(this).data("article-id");
			const articleTitle = $(this).data("article-title");
			const articleDescription = $(this).data("article-description");
			const articleContent = $(this).data("article-content");

			$(".article-title").val(articleTitle);
			$(".article-description").val(articleDescription);
			$("#editArticleModalLabel").find("span").text(articleId);
			$("#ArticleId").val(articleId);

			tinymce.activeEditor.setContent(articleContent || '');
		});

		$(".btn-delete").on("click", function () {
			const articleId = $(this).data("article-id");

			$.ajax({
				url: "@Url.Action("Delete", "Article", new { area = "Admin" })",
				type: "POST",
				dataType: "json",
				data: {
					articleId: articleId,
					__RequestVerificationToken: token

				},
				success: function (response) {
					alertMessage(response.message, response.type);
					setTimeout(() => {
						location.reload();
					}, 1500);

				},
				error: function (xhr) {
					console.log("Lỗi xóa article !");
				}
			});
		});
	})
</script>
